/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 1920px) {  
  .left-nav ul li a {    
    padding: 14px 24px 13px 0;    
  }
  .dostoinstva-text {
    margin-top: 0px;   
  }
  .dostoinstva-block{
    margin-top: 0;
  }
  .header-carousel .item {
    padding: 153px 40px;   
  }
}

@media only screen and (max-width : 1920px) {  
  .left-nav ul li a {    
    padding: 14px 24px 13px 0;    
  }
  .dostoinstva-text {
    margin-top: 0px;   
  }
  .dostoinstva-block{
    margin-top: 0;
  }
  .header-carousel .item {
    padding: 153px 40px;   
  }
}

@media only screen and (max-width : 1850px){

}

@media only screen and (max-width : 1800px) {

}

@media only screen and (max-width : 1750px){

}

@media only screen and (max-width : 1700px) {  

}

@media only screen and (max-width : 1650px){

}

@media only screen and (max-width : 1600px) {  

}

@media only screen and (max-width : 1550px){

}

@media only screen and (max-width : 1500px){

}

@media only screen and (max-width : 1413px){
  .left-nav ul li a {
    padding: 13px 24px 12px 0;
  }
}

@media only screen and (max-width : 1410px){
  .header-carousel .item {
    padding: 166px 40px;
  }
}

@media only screen and (max-width : 1409px){
  .left-nav ul li a {
    padding: 11px 24px 10px 0;
  }
  .header-carousel .item {
    padding: 156px 40px;
  }
}

@media only screen and (max-width : 1400px){

}

@media only screen and (max-width : 1367px){ 

}


@media only screen and (max-width : 1330px){

}

@media only screen and (max-width : 1250px){
  .header-carousel .item {
    padding: 168px 40px;
  }
}

@media only screen and (max-width : 1238px) {  
  .left-nav-title{
    font-size: 13px;
  }
}

@media only screen and (max-width : 1227px) {  
  .left-nav ul li a {   
    line-height: 1.5;
  }
  .header-carousel .item {
    padding: 170px 40px;
  }
}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}


@media only screen and (max-width : 1199px) {
  .make-phone-call .btn-head .button-primary .button-text {
    margin-right: 0px;
  } 
  #top-info .phone-head-wr a{
    font-size: 16px;
  } 
  .make-phone-call .btn-head .button-primary {    
    padding: 0 32px;   
  }
  .header-carousel .item {
    padding: 120px 40px;
  }
  .head-text-all-wrap {    
    top: -9px;
  }
  .dostoinstva-block {
    margin-top: 17px;
  }
  .dostoinstva-text {
    margin-top: 23px;
  }
  .cont-h4-line {
    width: 100%;    
  }
  .form-cont-right {
    width: 100%;
  }
  .form-cont-right input:nth-child(2) {
    width: 100%;   
  }
  .form-cont-right input {    
    width: 100%;
  }
  .form-cont-right input:nth-child(3) {
    width: 100%;
  }
  .form-cont-right textarea {
    width: 100%;    
  }
  .form-cont {    
    width: 100%;    
  }
  .block_deal {   
    width: 292px;
  }
  .perfomance-carusel .owl-dots {    
    top: 290px;
  }
  .contacts-page{
    padding-bottom: 60px;
  }
}

@media only screen and (max-width: 1150px){
  .header-item-text h3 {
    font-size: 14px;
  }
  .header-item {
    top: -375px;
  }
  .head-btn {
    top: -252px;
  }
}

@media only screen and (max-width: 1100px){

}

@media only screen and (max-width: 1050px){
  .carousel-caption {
    top: -426px; 
    left: 30px;  
  }
  .header-item {
    top: -337px;
  }
  .head-btn {
    top: -208px;
    left: 30px;
  }
  .carousel-list {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1025px){
  .carousel-caption {
    top: -419px;
  }
  .header-item {
    top: -324px;
  }
  .head-btn {
    top: -193px;
  }  
}

@media only screen and (max-width : 1000px) {

}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

@media only screen and (max-width : 991px) {
  #header .time-head {
    text-align: center;
  }
  #header .mail-head a{
    text-align: center;
    margin: 0 0 8px;
  }
  #header .mail-head{
    text-align: center;
  }
  #header .adress-top p {    
    margin: 4px 0;    
  }
  .make-phone-call {
    text-align: center;    
  }
  .logo-img {    
    margin: 12px 0 20px;
  }
  #top-info{
    margin-top: 0 !important; 
  }
  .header-carousel .item {
    padding: 90px 40px;
  }
  .header-carousel .owl-dots {   
    top: 188px;
  }
  .cont-wrap-head {
    text-align: center;
  }  
  .head-text-all-wrap h1{
    font-size: 21px;
  }
  .head-text-all-wrap {
    top: -26px;
  }
  .own-header-wrap {   
    padding-bottom: 0px;
  }
  .logo-img {    
    text-align: center;
  }
  #top-info li {
    display: block;
    margin-left: 0;
  }  
  .perfomance-carusel .owl-dots{
    top: 252px;
  }
  .catalog-wrap .service-item-head {    
    margin-top: 0;
  }
  .tovar-wrap {
    margin-top: 145px;
  }
  #dostoinstva {
    height: auto;
    padding-bottom: 24px;
  }
  .dostoinstva-block {
    margin-left: 0;
  }
  .dostoinstva-text {
    margin-top: 27px;
  }
  .block_deal {
    width: 219px;
  }
}

@media screen and (max-width: 950px){
  .slick-slide .img-responsive{
    max-width: 110%;
    right: 48px;
    position: relative;
  }
  .carousel-caption {
    top: -406px;
    left: 0;
  }
  .header-item {
    top: -328px;
    width: 85%;
    left: 9.5%;
  }
  .head-btn {
    top: -198px;
    left: 0;
  }
}

@media screen and (max-width: 900px) { 
 
}

@media screen and (max-width: 850px) {  
  .carousel-caption {
    top: -400px;
    width: 100%;
  }
  .header-item {
    top: -282px;
    left: 7%;    
  }
  .head-btn {
    left: 0px;
    top: -204px;
  }
  .slick-dots{
    left: 0;
  }  
  .slick-slide .img-responsive {
    max-width: 122%;   
  }
}

@media screen and (max-width: 800px) {
  .slick-slide .img-responsive {
    max-width: 130%;
  }
  .carousel-caption {
    top: -424px;
    left: 40px;
  }
  .head-btn {   
    top: -206px;
    left: 40px;
  }
}

@media only screen and (max-width : 769px){
  .carousel-caption {
    top: -376px;
  }
  .header-item {    
    left: 5%;
  }
  .head-btn {
    top: -166px;
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 767px) {
  .hidden-mnu {
    width: 100%;
  }
  .adress-line p {
    font-size: 12px;
    text-align: center;
  }
  .head-text-all-wrap h1 {
    font-size: 24px;
    text-align: center;
  }
  .par-text-head{
    text-align: center;
  }
  .head-btn{
    text-align: center;
  }
  .carousel-caption {
    top: -420px;
    left: 0px;
    width: 100%;
  }
  .head-btn {
    top: -162px;
    left: 0;
    text-align: center;
  }
  .header-carousel .item h1, .header-carousel .item h2{
    width: 100%;
    text-align: center;
  }
  .home-slider-btn{
    text-align: center;
  }
  .header-carousel .owl-dots {
    top: 166px;
  }
  .carousel-list {   
    text-align: center;
  }
  .slick-slide {    
    top: 0px !important;
  }
  #top-info{
    margin-top: 0;
  } 
  #top-bar .btn-head{
    text-align: center;
  }
  .btn-catalog {
    text-align: center;
  }
  .service-item-head {    
    margin-top: 30px;
  }
  .services .btn-head {    
    text-align: center;    
  }
  .perfomance-carusel .owl-dots{
    top: 316px;
  }
  .breadcrumb ul {    
    margin: 0;
  }
  .catalog-wrap .service-item-head {
    margin-top: 14px;
  }
  footer .footer-logo img {
    width: 250px;
  }  
  .dostoinstva-block {
    width: 50px;
    height: 50px;
    margin: 6px auto;
    float: none;
  }
  .dostoinstva-text {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #dostoinstva {
    height: auto;
    padding-bottom: 24px;
    padding-top: 30px;
  }
  #how ul, .block_deal {
    width: 100% !important;
  }
  #how ul li {
    float: none !important;
    display: block;
    margin: 0 auto !important;
  }
  .block_deal {
    margin-bottom: 40px;
  }
  .line-nav{
    display: none;
  }
}

@media  screen and (max-width: 749px){
  .perfomance-carusel .owl-dots{
    top: 306px;
  }
}

@media screen and (max-width: 730px){
  .slick-slide .img-responsive {
    max-width: 140%;
  }
  .perfomance-carusel .owl-dots{
    top: 300px;
  }
}

@media screen and (max-width: 700px) {
  .carousel-caption {    
    left: 0;
  }
  .head-btn {
    top: -128px;
    left: 0;
  }
  .work-time {
    margin: 6px 0 14px;
    text-align: center;
  }
  .header-number {
    margin: 0px 0 18px;
    text-align: center;
  }
  .slick-slide .img-responsive {    
    right: 90px;   
  } 
  .perfomance-carusel .owl-dots{
    top: 290px;
  } 
}

@media screen and (max-width: 680px){
 
}

@media screen and (max-width: 650px) {  
  .header-carousel .owl-dots {
    top: 190px;
  }
}

@media screen and (max-width: 620px){
  .perfomance-carusel .owl-dots{
    top: 280px;
  }
}

@media screen and (max-width: 600px) { 

}

@media screen and (max-width: 590px){
  .header-carousel .item h1, .header-carousel .item h2{
    font-size: 38px;
  }
  .header-carousel .owl-dots {
    top: 178px;
  }
  .perfomance-carusel .owl-dots{
    top: 268px;
  }
}

@media screen and (max-width: 575px){

}



/* Small Devices, Tablets */


@media only screen and (max-width : 600px) {
	.cd-accordion-menu label, .cd-accordion-menu a {
    font-size: 13px;
    font-weight: 300;
  }
}

@media only screen and (max-width : 559px){
  .perfomance-carusel .owl-dots{
    top: 415px;
  }
}

@media only screen and (max-width : 565px) {
  #top-info li {
    display: block;
    margin-left: 0;
  }   
}

@media screen and (max-width: 559px){

}

@media screen and (max-width: 550px){  

}

@media screen and (max-width: 531px){
  .perfomance-carusel .owl-dots{
    top: 400px;
  }
}

@media screen and (max-width: 500px) {   
  .logo-img {
    margin: 4px 0 4px;
  }
  .make-phone-call {    
    margin-top: 12px;
  }
  .header-carousel .item h1, .header-carousel .item h2 {
    font-size: 30px;
  }
  .header-carousel .owl-dots {
    top: 165px;
  }
  .perfomance-carusel .owl-dots{
    top: 378px;
  }
}

@media only screen and (max-width : 490px) {
  .head-btn {
    top: -140px;
  }
}

@media only screen and (max-width : 480px){

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 475px) {

}

@media screen and (max-width: 470px){  
  .perfomance-carusel .owl-dots {
    top: 360px;
  }
}

@media only screen and (max-width : 460px){

}

@media screen and (max-width: 459px){
  .catalog-wrap .service-item-own {    
    width: 100%;
  }
  .service-img {
    display: inline-block;
    width: 28%;
    float: left;
  }
  .catalog-wrap .service-item-head {
    margin-top: 42px;
    display: inline-block;    
    margin-left: 14px;    
  }
}

@media screen and (max-width: 455px){

  .head-btn {
    top: -104px;
  }
  .carousel-caption {
    top: -347px;
  }
  .head-btn {
    top: -123px;
  }
}

@media only screen and (max-width : 450px){

}

@media only screen and (max-width : 440px){
  .perfomance-carusel .owl-dots {
    top: 344px;
  }
}

@media only screen and (max-width : 430px){ 
  .header-item{
    margin-bottom: 50px;
    width: 80%;
  }
  .head-btn {
    top: -110px;
  }  
}

@media only screen and (max-width : 429px) {
	#top-info li{
		margin-left: 0;
		display: block;
	}
	
}

@media only screen and (max-width : 427px){  
  
}

@media only screen and (max-width : 425px){
  .form-cont ul li i {    
    margin-right: 0px;    
  }
  .col-xs-6{
    width: 100%;
  }
  .head-contact h1{
    font-size: 26px;
  }
}

@media only screen and (max-width : 420px){
  .catalog-wrap .service-item-head {
    margin-top: 36px;    
  }
  .perf-item-own{
    width: 100%;
  }
}

@media only screen and (max-width : 415px){
   .catalog-wrap .service-item-head {
    margin-top: 38px;
    display: block;
  }
  .service-img {   
    margin-right: 10px;
  }
}

@media only screen and (max-width : 410px){
  .perfomance-carusel .owl-dots {
    top: 325px;
  }
}

@media only screen and (max-width : 409px){
  .catalog-wrap .service-item-head {
    margin-top: 28px;
    display: block;
  }
}

@media only screen and (max-width : 400px){
  .header-carousel .item {
    padding: 90px 0px;
  }
}

@media only screen and (max-width : 380px){
  .perfomance-carusel .owl-dots {
    top: 307px;
  }
}

@media only screen and (max-width : 375px) { 
  
}

@media only screen and (max-width : 370px){  
  .catalog-wrap .service-item-head {
    margin-top: 24px;    
  }
  .header-carousel .item h1, .header-carousel .item h2 {
    font-size: 26px;
  }
}

@media only screen and (max-width : 365px) {  
  .toggle-mnu {    
    margin-top: 17px;
  }
  .form-cont-right {
    width: 95%;
  }
}

@media only screen and (max-width : 355px){
  .perfomance-carusel .owl-dots {
    top: 293px;
  }
}

@media only screen and (max-width : 352px){
  .head-btn {
    top: -134px;
  } 
  .catalog-wrap .service-item-head {
    margin-top: 20px;
  }
  .form-cont ul li i {
    margin-left: 8px;    
  }
}

@media only screen and (max-width : 340px) {  
  
}

@media only screen and (max-width : 350px) {  
  
}

@media only screen and (max-width : 349px){
  
  
}

@media only screen and (max-width : 340px) { 
  .home-slider-btn a {   
    padding: 14px 22px;    
  }
  .head-contact h1{
    font-size: 24px;
  }
}

@media only screen and (max-width : 332px){
  .catalog-wrap .service-item-head {
    margin-top: 18px;
  }
}

@media only screen and (max-width : 329px){
  
  
}

@media only screen and (max-width : 322px) {
  
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 321px) {
  #header .adress-top p,
  #header .mail-head a{
    font-size: 13px;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}