/*==========  Desktop First Method  ==========*/
@media only screen and (min-width : 1920px) {  
  .head-btn {    
    top: -430px;    
  }
  .header-item-text h3 {    
    font-size: 20px;    
  }
  .header-item {   
    top: -602px;    
  }
  .hero-unit-slider .hero-heading{
    font-size: 54px;
  }
  .carousel-caption {    
    top: -714px;  
    width: 80%;  
  }
  .carousel-list{
    list-style-type: none;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 0;
  }
  .carousel-list .fa{
    font-size: 24px;
    color: #F2E205;
    top: 2px;
    position: relative;
  }
  .slick-slide {   
    height: 500px;    
  }
  .hero-unit-slider {   
    height: 500px;
  }
}

@media only screen and (max-width : 1920px) {  
  .head-btn {    
    top: -430px;    
  }
  .header-item-text h3 {    
    font-size: 20px;    
  }
  .header-item {   
    top: -602px;    
  }
  .hero-unit-slider .hero-heading{
    font-size: 54px;
  }
  .carousel-caption {    
    top: -714px;   
    width: 80%; 
  }
  .carousel-list{
    list-style-type: none;
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    padding-left: 0;
  }
  .carousel-list .fa{
    font-size: 24px;
    color: #F2E205;
    top: 2px;
    position: relative;
  }
  .slick-slide {   
    height: 500px;    
  }
  .hero-unit-slider {   
    height: 500px;
  }
}

@media only screen and (max-width : 1850px){
  .carousel-caption {
    top: -690px;
  }
  .head-btn {
    top: -390px;
  }
}

@media only screen and (max-width : 1800px) {
  .carousel-caption {
    top: -670px;
  }
  .header-item {
    top: -578px;
  }
  .head-btn {
    top: -373px;
  }
}

@media only screen and (max-width : 1750px){
  .carousel-caption {
    top: -643px;
  }
  .header-item {
    top: -564px;
  }
  .head-btn {
    top: -346px;
  }
}

@media only screen and (max-width : 1700px) {  
  .carousel-caption {
    top: -626px;
  }
  .header-item {
    top: -540px;
  }
  .head-btn {
    top: -325px;
  }
}

@media only screen and (max-width : 1650px){
  .carousel-caption {
    top: -620px;
  }
  .header-item {
    top: -528px;
  }
  .head-btn {
    top: -318px;
  }
}

@media only screen and (max-width : 1600px) {  
  .hero-unit-slider .hero-heading {
    font-size: 46px;
  } 
  .carousel-caption {
    top: -626px;
    left: 0;
  }
  .header-item-text h3 {
    font-size: 16px;
  }
  .header-item {
    top: -514px;
  }
  .head-btn{
    left: 0;
    top: -358px;
  }
  .slick-slide {   
    height: 400px;    
  }
  .hero-unit-slider {   
    height: 400px;
  }
}

@media only screen and (max-width : 1550px){
  .carousel-caption {
    top: -585px;    
  }
  .header-item {
    top: -498px;
  }
  .head-btn {    
    top: -342px;
  }
}

@media only screen and (max-width : 1500px){
  .carousel-caption {
    top: -566px;
  }
  .header-item {
    top: -478px;
  }
  .head-btn {
    top: -332px;
  }
  .carousel-list {    
    font-size: 20px;    
  }
}

@media only screen and (max-width : 1450px){
  .carousel-caption {
    top: -556px;
  }
  .header-item {
    top: -450px;
  }
  .head-btn {
    top: -312px;
  }
}

@media only screen and (max-width : 1400px){
  .carousel-caption {
    top: -526px;
  }
  .header-item {
    top: -434px;
  }
  .head-btn {
    top: -280px;
  }
}

@media only screen and (max-width : 1367px){ 
  .hero-unit-slider .hero-heading {
    font-size: 42px;
  }
  .carousel-list {
    font-size: 18px;
  }
  .carousel-caption {
    top: -498px;
    width: 70%;
  }
  .header-item {
    top: -420px;
  }
  .head-btn {
    top: -266px;
  }
}


@media only screen and (max-width : 1330px){
  .carousel-caption {
    top: -472px;
  }
  .header-item {
    top: -428px;
  }
  .head-btn {
    top: -253px;
  }
}

@media only screen and (max-width : 1250px){
  .carousel-caption {
    top: -458px;
    left: 26px;
  }
  .header-item {
    top: -414px;
  }
  .head-btn {
    top: -233px;
    left: 26px;
  }
}

@media only screen and (max-width : 1200px) {  
  .carousel-caption {
    top: -417px;
    left: 36px;
  }
  .header-item {
    top: -395px;
  }
  .head-btn {
    top: -194px;
    left: 36px;
  }
}

@media only screen and (max-width : 1250px) {
  .hero-unit-slider .hero-button{
    top: 18px;
  }

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
}


@media only screen and (max-width : 1199px) {
  .make-phone-call .btn-head .button-primary .button-text {
    margin-right: 0px;
  }  
  .head-text-all-wrap {    
    top: -9px;
  }
  .carousel-list {    
    font-size: 16px;   
  }
  .carousel-caption {
    top: -490px;
    left: 0;
  }
  .head-btn {
    top: -260px;
    left: 0;
  }  
  .slick-slide {    
    top: 0 !important;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {    
    top: 300px;
  }
  .cont-h4-line {
    width: 100%;    
  }
  .form-cont-right {
    width: 100%;
  }
  .form-cont-right input:nth-child(2) {
    width: 100%;   
  }
  .form-cont-right input {    
    width: 100%;
  }
  .form-cont-right input:nth-child(3) {
    width: 100%;
  }
  .form-cont-right textarea {
    width: 100%;    
  }
  .form-cont {    
    width: 100%;    
  }
  .block_deal {   
    width: 292px;
  }
}

@media only screen and (max-width: 1150px){
  .hero-unit-slider .hero-heading {
    font-size: 38px;
  }
  .carousel-caption {
    top: -476px;
    left: 0;
  }
  .header-item-text h3 {
    font-size: 14px;
  }
  .header-item {
    top: -375px;
  }
  .head-btn {
    top: -252px;
  }
}

@media only screen and (max-width: 1100px){
  .carousel-caption {
    top: -456px;
    left: 0;
  }
  .header-item {
    top: -358px;
  }
  .head-btn {
    top: -228px;
  }
}

@media only screen and (max-width: 1050px){
  .carousel-caption {
    top: -426px; 
    left: 30px;  
  }
  .header-item {
    top: -337px;
  }
  .head-btn {
    top: -208px;
    left: 30px;
  }
  .carousel-list {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1025px){
  .carousel-caption {
    top: -419px;
  }
  .header-item {
    top: -324px;
  }
  .head-btn {
    top: -193px;
  }
  .hero-unit-slider {
    height: 370px;
  }
}

@media only screen and (max-width : 1000px) {
  .carousel-caption {
    top: -398px;
  }
  .head-btn {
    top: -182px;
  }
  .hero-unit-slider .slick-carousel .slick-prev, 
  .hero-unit-slider .slick-carousel .slick-next{
    top: 44%;
  }
}


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.carousel-caption {
    top: -392px;
  }
  .head-btn {
    top: -178px;
  }
}

@media only screen and (max-width : 991px) {
  #header .time-head {
    text-align: center;
  }
  #header .mail-head a{
    text-align: center;
    margin: 0 0 8px;
  }
  #header .mail-head{
    text-align: center;
  }
  #header .adress-top p {    
    margin: 4px 0;    
  }
  .make-phone-call {
    text-align: center;    
  }
  .logo-img {    
    margin: 12px 0 20px;
  }
  .hero-unit-slider .hero-heading{
    font-size: 34px;
  }
  .cont-wrap-head {
    text-align: center;
  }  
  .head-text-all-wrap h1{
    font-size: 21px;
  }
  .head-text-all-wrap {
    top: -26px;
  }
  .own-header-wrap {   
    padding-bottom: 0px;
  }
  .logo-img {    
    text-align: center;
  }
  #top-info li {
    display: block;
    margin-left: 0;
  }
  .services {   
    padding-top: 80px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 266px;
  }
  .catalog-wrap .service-item-head {    
    margin-top: 0;
  }
  .tovar-wrap {
    margin-top: 145px;
  }
  #dostoinstva {
    height: auto;
    padding-bottom: 24px;
  }
  .dostoinstva-block, .dostoinstva-block-2, .dostoinstva-block-3 {
    margin-left: 0;
  }
  .dostoinstva-text {
    margin-top: 27px;
  }
  .block_deal {
    width: 219px;
  }
}

@media screen and (max-width: 950px){
  .slick-slide .img-responsive{
    max-width: 110%;
    right: 48px;
    position: relative;
  }
  .carousel-caption {
    top: -406px;
    left: 0;
  }
  .header-item {
    top: -328px;
    width: 85%;
    left: 9.5%;
  }
  .head-btn {
    top: -198px;
    left: 0;
  }
}

@media screen and (max-width: 900px) { 
  .carousel-caption {
    top: -392px;
  }
  .header-item {
    top: -308px; 
    left: 8.125%;   
  }
  .head-btn {
    top: -185px;
  }
}

@media screen and (max-width: 850px) {  
  .carousel-caption {
    top: -400px;
    width: 100%;
  }
  .header-item {
    top: -282px;
    left: 7%;    
  }
  .head-btn {
    left: 0px;
    top: -204px;
  }
  .slick-dots{
    left: 0;
  }  
  .slick-slide .img-responsive {
    max-width: 122%;   
  }
}

@media screen and (max-width: 800px) {
  .slick-slide .img-responsive {
    max-width: 130%;
  }
  .carousel-caption {
    top: -424px;
    left: 40px;
  }
  .head-btn {   
    top: -206px;
    left: 40px;
  }
}

@media only screen and (max-width : 769px){
  .carousel-caption {
    top: -376px;
  }
  .header-item {    
    left: 5%;
  }
  .head-btn {
    top: -166px;
  }
}

@media only screen and (max-width : 768px) {

}

@media only screen and (max-width : 767px) {
  .adress-line p {
    font-size: 12px;
    text-align: center;
  }
  .head-text-all-wrap h1 {
    font-size: 24px;
    text-align: center;
  }
  .par-text-head{
    text-align: center;
  }
  .head-btn{
    text-align: center;
  }
  .carousel-caption {
    top: -420px;
    left: 0px;
    width: 100%;
  }
  .head-btn {
    top: -162px;
    left: 0;
    text-align: center;
  }
  .carousel-list {   
    text-align: center;
  }
  .slick-slide {    
    top: 0px !important;
  }
  #top-info{
    margin-top: 0;
  }
  .hero-unit-slider .hero-heading {    
    text-align: center;
  }
  #top-bar .btn-head{
    text-align: center;
  }
  .btn-catalog {
    text-align: center;
  }
  .service-item-head {    
    margin-top: 30px;
  }
  .services .btn-head {    
    text-align: center;    
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 336px;
  }
  .breadcrumb ul {    
    margin: 0;
  }
  .catalog-wrap .service-item-head {
    margin-top: 14px;
  }
  footer .footer-logo img {
    width: 250px;
  }
  .service-logo {
    display: none;    
  }
  .dostoinstva-block, .dostoinstva-block-2, .dostoinstva-block-3, .dostoinstva-block-4 {
    width: 50px;
    height: 50px;
    margin: 6px auto;
    float: none;
  }
  .dostoinstva-text {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 0;
    text-align: center;
  }
  #dostoinstva {
    height: auto;
    padding-bottom: 24px;
    padding-top: 30px;
  }
  #how ul, .block_deal {
    width: 100% !important;
  }
  #how ul li {
    float: none !important;
    display: block;
    margin: 0 auto !important;
  }
  .block_deal {
    margin-bottom: 40px;
  }
  .line-nav{
    display: none;
  }
}

@media screen and (max-width: 730px){
  .slick-slide .img-responsive {
    max-width: 140%;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 320px;
  }
}

@media screen and (max-width: 700px) {
  .carousel-caption {    
    left: 0;
  }
  .head-btn {
    top: -128px;
    left: 0;
  }
  .work-time {
    margin: 6px 0 14px;
    text-align: center;
  }
  .header-number {
    margin: 0px 0 18px;
    text-align: center;
  }
  .slick-slide .img-responsive {    
    right: 90px;   
  } 
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 310px;
  } 
}

@media screen and (max-width: 680px){
  .hero-unit-slider {
    height: 340px;
  }
  .slick-slide {
    height: 360px;
  }
  .head-btn {
    top: -144px;    
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 305px;
  }
}

@media screen and (max-width: 650px) {  
  .head-btn {
    top: -142px;    
  }  
  .carousel-caption {
    top: -410px;    
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 295px;
  }
}

@media screen and (max-width: 625px){
  .slick-slide {
    height: 390px;
  }
  .slick-slide .img-responsive {
    max-width: 165%;
    right: 185px;
  }
  .carousel-caption {
    top: -460px;
  }
  .head-btn {
    top: -194px;
  }
  .services {
    padding-top: 100px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 290px;
  }
}

@media screen and (max-width: 600px) { 
  .carousel-caption {
    top: -433px;
  }
  .header-item {    
    width: 70%;    
  }
  .head-btn {  
    top: -170px;  
    left: 0px;
  }
  .hero-unit-slider .slick-carousel .slick-prev, 
  .hero-unit-slider .slick-carousel .slick-next{
    top: 41%;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 280px;
  }
}

@media screen and (max-width: 559px){

}

@media screen and (max-width: 575px){
  .btn-cost-wrap {
    position: relative;
    bottom: 54px;
  }
  .slick-slide .img-responsive {    
    right: 136px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 275px;
  }
}



/* Small Devices, Tablets */


@media only screen and (max-width : 690px) {
	
}

@media only screen and (max-width : 565px) {
  #top-info li {
    display: block;
    margin-left: 0;
  }   
  .carousel-caption {
    top: -410px;
  }
}

@media screen and (max-width: 559px){
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 438px;
  }
}

@media screen and (max-width: 550px){  
  .slick-slide .img-responsive {
    right: 160px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 415px;
  }
}

@media screen and (max-width: 530px){
  .slick-slide .img-responsive {
    right: 235px;
    max-width: 185%;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 398px;
  }
}

@media screen and (max-width: 500px) {   
  .head-btn {
    top: -168px;
  }
  .head-btn {    
    left: 0px;
  } 
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 390px;
  }
}

@media only screen and (max-width : 490px) {
  .head-btn {
    top: -140px;
  }
}

@media only screen and (max-width : 480px){
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 370px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 475px) {
  .carousel-caption {
    top: -390px;
  }
}

@media screen and (max-width: 470px){  
  .slick-slide {
    height: 320px;
  }
  .hero-unit-slider {
    height: 280px;
  }
  .head-btn {
    top: -155px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 375px;
  }
}

@media only screen and (max-width : 460px){
   .perfomance-carusel .owl-dots,
   .perfomance-carusel-boots-wr .owl-dots,
   .perfomance-carusel-individ-wr .owl-dots {
    top: 360px;
  }
}

@media screen and (max-width: 459px){
  .catalog-wrap .service-item-own {    
    width: 100%;
  }
  .service-img {
    display: inline-block;
    width: 28%;
    float: left;
  }
  .catalog-wrap .service-item-head {
    margin-top: 42px;
    display: inline-block;    
    margin-left: 14px;    
  }
}

@media screen and (max-width: 455px){
  .slick-slide .img-responsive {
    max-width: 175%;
    right: 200px;
  }
  .head-btn {
    top: -104px;
  }
  .carousel-caption {
    top: -347px;
  }
  .head-btn {
    top: -123px;
  }
}

@media only screen and (max-width : 450px){
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 355px;
  }
}

@media only screen and (max-width : 435px){
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 345px;
  }
}

@media only screen and (max-width : 430px){
  .slick-slide .img-responsive {
    max-width: 185%;
    right: 190px;
  }
  .carousel-list {
    font-size: 14px;
    text-align: center;
  }
  .header-item{
    margin-bottom: 50px;
    width: 80%;
  }
  .head-btn {
    top: -110px;
  }
  .carousel-caption {
    top: -356px;
  }
  .head-btn {
    top: -135px;
  }
  .hero-unit-slider .hero-heading {
    font-size: 30px;
  }
}

@media only screen and (max-width : 429px) {
	#top-info li{
		margin-left: 0;
		display: block;
	}
	
}

@media only screen and (max-width : 427px){  
  .carousel-caption {
    top: -350px;
  }  
  
  .hero-unit-slider .button-primary .button-text{
    margin-right: 0;
  }
}

@media only screen and (max-width : 425px){
  .form-cont ul li i {    
    margin-right: 0px;    
  }
}

@media only screen and (max-width : 420px){
  .catalog-wrap .service-item-head {
    margin-top: 36px;    
  }
  .perf-item-own{
    width: 100%;
  }
}

@media only screen and (max-width : 415px){
   .catalog-wrap .service-item-head {
    margin-top: 38px;
    display: block;
  }
  .service-img {   
    margin-right: 10px;
  }
}

@media only screen and (max-width : 410px){
  .slick-slide .img-responsive {
    max-width: 195%;
    right: 210px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 330px;
  }
}

@media only screen and (max-width : 409px){
  .catalog-wrap .service-item-head {
    margin-top: 28px;
    display: block;
  }
}

@media only screen and (max-width : 400px){
  .hero-unit-slider .hero-heading {
    font-size: 24px;
    line-height: 1.2;
  }
  .carousel-caption {
    top: -360px;
  }
  .slick-slide .img-responsive {
    max-width: 200%;
    right: 215px;
  }  
  .head-btn {
    top: -155px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 340px;
  }
}

@media only screen and (max-width : 380px){
  .carousel-caption {
    top: -340px;
  }
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 330px;
  }
}

@media only screen and (max-width : 375px) { 
  .slick-slide .img-responsive {
    max-width: 220%;
    right: 240px;
  }
  .carousel-caption {
    top: -360px;
  }
}

@media only screen and (max-width : 370px){
  
  .catalog-wrap .service-item-head {
    margin-top: 24px;    
  }
}

@media only screen and (max-width : 365px) {  
  .toggle-mnu {    
    margin-top: 17px;
  }
  .form-cont-right {
    width: 95%;
  }
}

@media only screen and (max-width : 355px){
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 315px;
  }
}

@media only screen and (max-width : 352px){
  .head-btn {
    top: -134px;
  } 
  .catalog-wrap .service-item-head {
    margin-top: 20px;
  }
  .form-cont ul li i {
    margin-left: 8px;    
  }
}

@media only screen and (max-width : 340px) {  
  .perfomance-carusel .owl-dots,
  .perfomance-carusel-boots-wr .owl-dots,
  .perfomance-carusel-individ-wr .owl-dots {
    top: 310px;
  }
}

@media only screen and (max-width : 350px) {  
  .slick-slide .img-responsive {
    max-width: 230%;
  }
}

@media only screen and (max-width : 349px){
  
  
}

@media only screen and (max-width : 340px) { 
  .slick-slide .img-responsive {
    max-width: 240%;
    right: 240px;
  }
  .head-btn {
    top: -160px;
  }
}

@media only screen and (max-width : 332px){
  .catalog-wrap .service-item-head {
    margin-top: 18px;
  }
}

@media only screen and (max-width : 329px){
  .slick-slide .img-responsive {    
    right: 163px;
  }
  .carousel-caption {    
    left: 0px;
  }
  
}

@media only screen and (max-width : 322px) {
  .head-btn {
    top: -135px;
  }
  .slick-slide .img-responsive {
    right: 218px;
  }
  .catalog-wrap .service-item-head {
    margin-top: 15px;
  }
}


/* Custom, iPhone Retina */
@media only screen and (max-width : 321px) {
  #header .adress-top p,
  #header .mail-head a{
    font-size: 13px;
  }
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}