.header{
  &__personal-wdg{
		display: flex;
    width: fit-content;
		padding: 12px 0;
	}
	&__account-link{
		position: relative;
		display: flex;
		align-items: center;
		padding-left: 45px;
		padding-right: 15px;
		text-transform: uppercase;
		color: #fff;
		& i{
			display: inline-block;
			margin-right: 12px;
			font-size: 1.9rem;
		}
		&:hover{
			color: rgb(204, 204, 204);
		}
		&-text{
			font-weight: 700;
			font-size: 1.4rem;
		}
	}
	&__cart-dropdown{
		position: relative;
	}
	&__cart-dropdown-header{
		position: relative;
		display: flex;
		align-items: center;
		font-size: 1.2rem;
		font-weight: 700;
		text-transform: uppercase;
		border-color: transparent;
		min-width: 76px;
	}
	&__cart-dropdown-name,
	&__cart-dropdown-price{
		display: none;
		margin-right: 5px;
	}
	&__cart-dropdown-price, &__cart-dropdown-total-count{
		color: #fff;
	}
	&__cart-dropdown-price{
		margin-right: 20px;
	}
	&__cart-dropdown-icon{
		font-size: 22px;
		color: #fff;
		&:hover{
			color: rgb(204, 204, 204);
		}
	}
	&__cart-dropdown-total-count{
		position: absolute;
		left: 32px;
    top: -3px;
		font-size: 14px;
		color: #fff;
		z-index: 12;
		transition: all .3s ease-in-out;
	}
	&__cart-dropdown-price{
		position: absolute;
		display: inline-block;
		width: max-content;
    left: 32px;
    top: 13px;
		font-size: 14px;
		color: #fff;
		text-transform: none;
	}
}
.header__cart-dropdown:hover .cart{
	display: flex;
	opacity: 1;
	visibility: visible;
	pointer-events: all;
	z-index: 20;
}
@media only screen and (min-width: 991px){
  .header{
    &__personal-wdg{
      position: relative;
      color: #000;
    }
    
  }
}
@media only screen and (min-width: 1200px){
  .header{
		&__personal-wdg{
			padding: 0;
		}
    &__account-link{
			padding-left: 45px;
			&::before{
				content: '';
				width: 1px;
				height: 30%;
				background: #fff;
				position: absolute;
				top: 35%;
				left: 0;
			}
		}
    
  }
}