.navbar-nav li img{
  margin-left: 22px;
}
.navbar-nav > li > a{
  padding-right: 22px;
}

//footer
.company-nav{  
  &__wrap{
  padding-bottom: 25px;
  }
  &__list{
    display: flex;
    justify-content: center;
  }
  &__item{
    display: inline-block;
    margin: 0 20px;
  }
}
.nav-section__inner-wrap{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 55px;
}
@media only screen and (min-width: 991px){
  .nav-section__inner-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}